.Loop1Step3 {
  background: #3272a9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 2rem 5rem;
  display: grid;
  grid-row-gap: 1rem;
  background-color: white;
}

.toggle {
  width: 5rem;
  height: 3rem;
  border-radius: 3rem;
  background: #f1f1f1;
  position: relative;
}

.toggle:before {
  content: '';
  height: 100%;
  width: 3rem;
  background: white;
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  top: -0.05rem;
  left: 0;
  transition: left ease-in-out 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.toggle.active {
  background: #2dcc71;
}
.toggle.active:before {
  left: 50%;
}
