.Loop1Step7 {
  background: white;
  height: 100vh;
  padding: 10rem 0 0;

  .card {
    width: 80%;
    height: 10rem;
    background: #f1f1f1;
    margin: 0 auto 1rem;
    border-radius: 4px;
  }
}
